#muestra {
    display: flex;
    background-color: white;
    min-height: 100vh; /*Como mínimo, el documento ocupará toda la pantalla*/
  }
  #muestra > div {
    width: 20%;
    
  }
  div.sidebar {
    background-color: #82e1ff;
  }
  .flechi1{
    width: 13%;
    height: auto;
    height: auto;
    display: block;

  }   

  div[class|="col"]{
    border: 1px solid #07c5ffd8;
}
div#cuadro{
    margin-top: 30px;
    float: left;
    width: 50%;
}
div#grafico{
    margin-top: 30px;
    float:right;
    width: 50%;
}
.panel {
    background:#ccc;
}
.usuario{
  display: block;
  width: 65%;
  height: auto;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;

}

.main-container{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding:0%;
}
.main-sidebar .sidebar .sidebar-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  padding: 0.75rem 0;
  width: 220px;
  z-index: 900;
  border-top: 1px solid white;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-sidebar {
  background-color: #82e1ff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  z-index: 810;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  display: block;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 35%);
  color: #fff;
}

.profile {
  padding: 20px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  margin: 0 0 1.5rem;
  padding: 0;
  flex-direction: column;
  min-height: 100%;
}

.sidebar-footer .sidebar-menu {
  margin-bottom: 0;
}

.main-sidebar .sidebar .sidebar-menu>li>a {
  color: #fff;
  padding: 8px 10px;
  display: block;
  font-size: 18px;
  text-decoration: none !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: bottom;
}

.main-sidebar .sidebar .sidebar-menu>li>a>i, .main-sidebar .sidebar .sidebar-menu>li>a>.icon {
  display: inline-block;
  width: 23px;
  margin: 0 0.5rem 0 0;
  text-align: center;
  vertical-align: bottom;
  font-size: 25px !important;
}

.main-sidebar .sidebar .sidebar-footer .sidebar-menu {
  margin-bottom: 0;
}

body{
  max-height: 100%;
  height: 100%;
  width: 100%;
}

div.content {
  margin-left: 220px;
  position: relative;
}

.dashboard {
  background-color: white;
}


div.content {
  margin-left: 220px;
  position: relative;
}


