<div class="container-fluid">

  <div class="row" id="muestra">
    <div class="col-2 sidebar">
      <div class="row">
        <img
          src="assets/images/LOGO-UTEC-WHITE.png"
          alt=""
          height="100"
          width="150%"
          class="img-fluid"
        />
      </div>
      <div class="row">

        <img
          src="assets/images/gestion_competencias.png"
          class="img-fluid"
        />

      </div>
      <div class="row">
        <img
          src="assets/images/usuario.png"
          class="usuario img-fluid"
        />
      </div>
      <div class="row">
        <button>
          CERRAR SESIÓN
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg>
        </button>
       
        
          
      </div>
    </div>
    <div class="col"  >
      <div class="row">
        <img class="flechi1"
        src="assets/images/flechi.png"
        />
      </div>
    

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">

              <h2 class="accordion-header" id="flush-headingOne">
                <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  CÓDIGO - Curso 1
                </button>               
              </h2>
              
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  
                  <div class="container first" id="cuadro">
                    SISTEMA DE EVALUACIÓN
                    <div class="row">
                        <div class="col">EXAMEN</div>
                        <div class="col">PORCENTAJE</div>
                        <div class="col">NOTA</div>
                        <div class="col">ACUMULADO</div>
                    </div>
                    <div class="row">
                        <div class="col">PC1</div>
                        <div class="col">20%</div>
                        <div class="col">12</div>
                        <div class="col">2.4</div>
                    </div>
                    <div class="row">
                        <div class="col">PC2</div>
                        <div class="col">20%</div>
                        <div class="col">15</div>
                        <div class="col">3</div>
                    </div>
                    <div class="row">
                        <div class="col">PC3</div>
                        <div class="col">20%</div>
                        <div class="col">10.5</div>
                        <div class="col">2.1</div>
                    </div>
                    <div class="row">
                        <div class="col">PC4</div>
                        <div class="col">20%</div>
                        <div class="col">20</div>
                        <div class="col">4</div>
                    </div>
                    <div class="row">
                        <div class="col">P</div>
                        <div class="col">20%</div>
                        <div class="col">-</div>
                        <div class="col">-</div>
                    </div>
                    <div class="row">
                        <div class="col">NOTA FINAL</div>
                        <div class="col-3">-</div>
                    </div>
                    <p>PC = Practica calificada</p>
                    <p>P = Proyecto</p>
                    
                  </div>
                  <div class="container double" id="grafico">
                    COMPETENCIAS                    
                  </div>
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  CÓDIGO - Curso 2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="container first" id="cuadro">
                    SISTEMA DE EVALUACIÓN
                    <div class="row">
                        <div class="col">EXAMEN</div>
                        <div class="col">PORCENTAJE</div>
                        <div class="col">NOTA</div>
                        <div class="col">ACUMULADO</div>
                    </div>
                    <div class="row">
                        <div class="col">PC1</div>
                        <div class="col">20%</div>
                        <div class="col">12</div>
                        <div class="col">2.4</div>
                    </div>
                    <div class="row">
                        <div class="col">PC2</div>
                        <div class="col">20%</div>
                        <div class="col">15</div>
                        <div class="col">3</div>
                    </div>
                    <div class="row">
                        <div class="col">PC3</div>
                        <div class="col">20%</div>
                        <div class="col">10.5</div>
                        <div class="col">2.1</div>
                    </div>
                    <div class="row">
                        <div class="col">PC4</div>
                        <div class="col">20%</div>
                        <div class="col">20</div>
                        <div class="col">4</div>
                    </div>
                    <div class="row">
                        <div class="col">P</div>
                        <div class="col">20%</div>
                        <div class="col">-</div>
                        <div class="col">-</div>
                    </div>
                    <div class="row">
                        <div class="col">NOTA FINAL</div>
                        <div class="col-3">-</div>
                    </div>
                    <p>PC = Practica calificada</p>
                    <p>P = Proyecto</p>
                    
                  </div>
                  <div class="container double" id="grafico">
                    COMPETENCIAS                    
                  </div>
                  
                
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    CÓDIGO - Curso 3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                  <div class="container first" id="cuadro">
                    SISTEMA DE EVALUACIÓN
                    <div class="row">
                        <div class="col">EXAMEN</div>
                        <div class="col">PORCENTAJE</div>
                        <div class="col">NOTA</div>
                        <div class="col">ACUMULADO</div>
                    </div>
                    <div class="row">
                        <div class="col">PC1</div>
                        <div class="col">20%</div>
                        <div class="col">12</div>
                        <div class="col">2.4</div>
                    </div>
                    <div class="row">
                        <div class="col">PC2</div>
                        <div class="col">20%</div>
                        <div class="col">15</div>
                        <div class="col">3</div>
                    </div>
                    <div class="row">
                        <div class="col">PC3</div>
                        <div class="col">20%</div>
                        <div class="col">10.5</div>
                        <div class="col">2.1</div>
                    </div>
                    <div class="row">
                        <div class="col">PC4</div>
                        <div class="col">20%</div>
                        <div class="col">20</div>
                        <div class="col">4</div>
                    </div>
                    <div class="row">
                        <div class="col">P</div>
                        <div class="col">20%</div>
                        <div class="col">-</div>
                        <div class="col">-</div>
                    </div>
                    <div class="row">
                        <div class="col">NOTA FINAL</div>
                        <div class="col-3">-</div>
                    </div>
                    <p>PC = Practica calificada</p>
                    <p>P = Proyecto</p>
                    
                  </div>
                  <div class="container double" id="grafico">
                    COMPETENCIAS                    
                  </div>

                </div>
              </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    CÓDIGO - Curso 4
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">

                    <div class="container first" id="cuadro">
                      SISTEMA DE EVALUACIÓN
                      <div class="row">
                          <div class="col">EXAMEN</div>
                          <div class="col">PORCENTAJE</div>
                          <div class="col">NOTA</div>
                          <div class="col">ACUMULADO</div>
                      </div>
                      <div class="row">
                          <div class="col">PC1</div>
                          <div class="col">20%</div>
                          <div class="col">12</div>
                          <div class="col">2.4</div>
                      </div>
                      <div class="row">
                          <div class="col">PC2</div>
                          <div class="col">20%</div>
                          <div class="col">15</div>
                          <div class="col">3</div>
                      </div>
                      <div class="row">
                          <div class="col">PC3</div>
                          <div class="col">20%</div>
                          <div class="col">10.5</div>
                          <div class="col">2.1</div>
                      </div>
                      <div class="row">
                          <div class="col">PC4</div>
                          <div class="col">20%</div>
                          <div class="col">20</div>
                          <div class="col">4</div>
                      </div>
                      <div class="row">
                          <div class="col">P</div>
                          <div class="col">20%</div>
                          <div class="col">-</div>
                          <div class="col">-</div>
                      </div>
                      <div class="row">
                          <div class="col">NOTA FINAL</div>
                          <div class="col-3">-</div>
                      </div>
                      <p>PC = Practica calificada</p>
                      <p>P = Proyecto</p>
                      
                    </div>
                    <div class="container double" id="grafico">
                      COMPETENCIAS                    
                    </div>

                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    CÓDIGO - Curso 5
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    
                    <div class="container first" id="cuadro">
                      SISTEMA DE EVALUACIÓN
                      <div class="row">
                          <div class="col">EXAMEN</div>
                          <div class="col">PORCENTAJE</div>
                          <div class="col">NOTA</div>
                          <div class="col">ACUMULADO</div>
                      </div>
                      <div class="row">
                          <div class="col">PC1</div>
                          <div class="col">20%</div>
                          <div class="col">12</div>
                          <div class="col">2.4</div>
                      </div>
                      <div class="row">
                          <div class="col">PC2</div>
                          <div class="col">20%</div>
                          <div class="col">15</div>
                          <div class="col">3</div>
                      </div>
                      <div class="row">
                          <div class="col">PC3</div>
                          <div class="col">20%</div>
                          <div class="col">10.5</div>
                          <div class="col">2.1</div>
                      </div>
                      <div class="row">
                          <div class="col">PC4</div>
                          <div class="col">20%</div>
                          <div class="col">20</div>
                          <div class="col">4</div>
                      </div>
                      <div class="row">
                          <div class="col">P</div>
                          <div class="col">20%</div>
                          <div class="col">-</div>
                          <div class="col">-</div>
                      </div>
                      <div class="row">
                          <div class="col">NOTA FINAL</div>
                          <div class="col-3">-</div>
                      </div>
                      <p>PC = Practica calificada</p>
                      <p>P = Proyecto</p>
                      
                    </div>
                    <div class="container double" id="grafico">
                      COMPETENCIAS                    
                    </div>

                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="panel accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    CÓDIGO - Curso 6
                  </button>
                </h2>

                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    
                    <div class="container first" id="cuadro">
                      SISTEMA DE EVALUACIÓN
                      <div class="row">
                          <div class="col">EXAMEN</div>
                          <div class="col">PORCENTAJE</div>
                          <div class="col">NOTA</div>
                          <div class="col">ACUMULADO</div>
                      </div>
                      <div class="row">
                          <div class="col">PC1</div>
                          <div class="col">20%</div>
                          <div class="col">12</div>
                          <div class="col">2.4</div>
                      </div>
                      <div class="row">
                          <div class="col">PC2</div>
                          <div class="col">20%</div>
                          <div class="col">15</div>
                          <div class="col">3</div>
                      </div>
                      <div class="row">
                          <div class="col">PC3</div>
                          <div class="col">20%</div>
                          <div class="col">10.5</div>
                          <div class="col">2.1</div>
                      </div>
                      <div class="row">
                          <div class="col">PC4</div>
                          <div class="col">20%</div>
                          <div class="col">20</div>
                          <div class="col">4</div>
                      </div>
                      <div class="row">
                          <div class="col">P</div>
                          <div class="col">20%</div>
                          <div class="col">-</div>
                          <div class="col">-</div>
                      </div>
                      <div class="row">
                          <div class="col">NOTA FINAL</div>
                          <div class="col-3">-</div>
                      </div>
                      <p>PC = Practica calificada</p>
                      <p>P = Proyecto</p>
                      
                    </div>
                    <div class="container double" id="grafico">
                      COMPETENCIAS                    
                    </div>

                  </div>
                </div>
              </div>

          </div>
        
      
      
      
        
    </div>

  </div>

</div> 