<div class="main-container">
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="text-center">
        <img
          src="assets/images/LOGO-UTEC-WHITE.png"
          alt=""
          height="100"
          width="150"
          class="img-fluid m-3"
        />
      </div>
      <div class="text-center">
        <img
          src="assets/images/sidebar_gdc.png"
          alt=""
          height="100"
          width="150"
          class="img-fluid m-3"
        />
      </div>
      <div class="profile">
        <img
          src="assets/images/user_icon.png"
          alt="user"
          class="img-fluid rounded-circle"
        />
        <h3>{{ Alumno }}</h3>
      </div>
      <ul class="scrollbar-container sidebar-menu ps" style="height: 663px">
        <div class="row-fluid justify-content center">
          <div
            class="btn-group p-2"
            role="group"
            aria-label="Button group with nested dropdown"
          >
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-outline-light dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <b>S E M E S T R E S</b>
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="#">2021-2</a></li>
              <li><a class="dropdown-item" href="#">2021-1</a></li>
            </ul>
          </div>
        </div>
      </ul>
      <div class="sidebar-footer">
        <ul class="sidebar-menu">
          <li>
            <a (click)="logout()">
              <nb-icon
                icon="power-outline"
                class="icon"
                status="warning"
              ></nb-icon>
              Cerrar sesion
            </a>
          </li>
        </ul>
      </div>
    </section>
  </aside>
  <div class="content justify-content-md-center">
    <div class="row">
      <img class="flechi1" src="assets/images/flechi.png" />
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">

      <div class="accordion-item" *ngFor="let curso of cursos; let i=index">
        <h2 class="accordion-header" [id]="'flush-heading-' + i">
          <button
            class="panel accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse-' + i"
            aria-expanded="false"
            [attr.aria-controls]="'flush-collapse-' + i"
          >
            {{curso.titulo}}
          </button>
        </h2>

        <div
          [id]="'flush-collapse-' + i"
          class="accordion-collapse collapse"
          [attr.aria-labelledby]="'flush-heading-' + i"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="container first" id="cuadro">
              {{curso.rubrica.titulo}}
              <div class="row">
                <div class="col" *ngFor="let titulo of curso.rubrica.titulos"> {{titulo}} </div>
              </div>
              <div class="row" *ngFor="let row of curso.rubrica.elementos">
                <div class="col" *ngFor="let elm of row"> {{elm}} </div>
              </div>
              <div class="row">
                <div class="col">NOTA FINAL</div>
                <div class="col">-</div>
              </div>
              <p>PC = Practica calificada</p>
              <p>P = Proyecto</p>
            </div>
            <div class="container double" *ngFor="let dat of dati; let i=index" id="grafico">
              {{dat.rubrica.titulo}}
              
              <nb-card-body >
                <chart 
                [type]="type" 
                [data]="data" 
                [options]="options"
                >
              </chart>
              </nb-card-body>
              <!--<nb-card-body>
                <chart [type]="type" [data]="data" [options]="options"></chart>
              </nb-card-body>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
