<div class="main-rubrica-content">
  <form>
    <!-- Titulo-->
    <div class="row">
      <div class="col-2">
        <img
          class="flechi1"
          src="assets/images/flechi.png"
          style="height: 38px; width: 118px"
        />
      </div>
      <div class="col-10 d-grid gap-2 d-md-flex justify-content-md-end">
        <h2>Rubrica Calificar</h2>
      </div>
    </div>
    <!-- Curso, Ciclo y Semestre-->
    <div class="row">
      <div class="col-10">
        <div class="first-rubrica-content">
          <div class="second-rubrica-content">
            <div class="row mb-2">
              <div class="col-6">
                <div class="form-outline" style="display: inline">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      >Curso:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ cursoService.curso.value?.nombre }}"
                      aria-label="Curso"
                      aria-describedby="basic-addon1"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline" style="display: inline">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      >Ciclo:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ rubricaService.rubrica.value?.ciclo }}"
                      aria-label="Curso"
                      aria-describedby="basic-addon1"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-outline" style="display: inline">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      >Semestre:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{
                        rubricaService.rubrica.value?.semestre
                      }} "
                      aria-label="Curso"
                      aria-describedby="basic-addon1"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- Actividad, Semana y Fecha input -->
            <div class="row mb-2">
              <div class="col-6">
                <div class="form-outline" style="display: inline">
                  <div class="input-group">
                    <span class="input-group-text">Actividad:</span>
                    <textarea
                      type="text"
                      class="form-control"
                      placeholder="{{
                        rubricaService.rubrica.value?.actividadBase
                      }}"
                      aria-label="Curso"
                      aria-describedby="basic-addon1"
                      [rows]="rowsActividad"
                      disabled
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="input-group vertical-center">
                  <span class="input-group-text" id="basic-addon1"
                    >Semana:
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ rubricaService.rubrica.value?.semana }} "
                    aria-label="Curso"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                </div>
              </div>
              <div class="col-3">
                <div class="input-group vertical-center">
                  <span class="input-group-text" id="basic-addon1"
                    >Fecha:
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ rubricaService.rubrica.value?.fecha }} "
                    aria-label="Curso"
                    aria-describedby="basic-addon1"
                    disabled
                  />
                </div>
              </div>
            </div>

            <!-- Competencia input -->

            <div class="row mb-2">
              <div class="form-outline" style="display: inline">
                <div class="input-group">
                  <span class="input-group-text">Competencia</span>
                  <textarea
                    class="form-control"
                    aria-label="With textarea"
                    placeholder="{{
                      rubricaService.rubrica.value?.numCritDesemp
                    }}. {{
                      rubricaService.rubrica.value?.criterioDeDesempenho
                    }}"
                    disabled
                    [rows]="rowsActividad"
                  ></textarea>
                </div>
              </div>
            </div>

            <!-- Alumno y Profesor input -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      >Alumno:
                    </span>
                    <div>
                      <nb-select
                        placeholder="Seleccione un alumno"
                        [disabled]="getDisableSelect()"
                      >
                        <nb-option
                          *ngFor="let alum of alumnosService.alumnos"
                          [disabled]="getDisableSelect()"
                          (click)="getMessage()"
                          [value]="alum"
                          (click)="setRubricaUsuario(alum)"
                          >{{ alum.alumno.nombre }}</nb-option
                        >
                      </nb-select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-outline" style="display: inline">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"
                      >Profesor:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ userService.user.nombre }}"
                      aria-label="Curso"
                      aria-describedby="basic-addon1"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- Checkbox tipo de actividad-->
            <div class="row mb-2">
              <div class="col-8">
                <div class="row">
                  <div class="col">
                    <span class="input-group-text" id="basic-addon1"
                      >Tipo Actividad:
                    </span>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline vertical-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                        disabled
                        [checked]="
                          rubricaService.rubrica.value?.tipo == 'Proyecto'
                        "
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Proyecto</label
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline vertical-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="option2"
                        disabled
                        [checked]="
                          rubricaService.rubrica.value?.tipo == 'Trabajo'
                        "
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Trabajo</label
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check form-check-inline vertical-center">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio3"
                        value="option3"
                        disabled
                        [checked]="
                          rubricaService.rubrica.value?.tipo == 'Laboratorio'
                        "
                      />
                      <label class="form-check-label" for="inlineRadio3"
                        >Laboratorio</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-check form-check-inline vertical-center">
                  <div class="row">
                    <div
                      class="col-1"
                      style="padding-left: 0; padding-right: 0"
                    >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="formotrotext"
                        value="option4"
                        disabled
                        style="margin-left: 0"
                        [checked]="
                          rubricaService.rubrica.value?.tipo != 'Laboratorio' &&
                          rubricaService.rubrica.value?.tipo != 'Trabajo' &&
                          rubricaService.rubrica.value?.tipo != 'Proyecto'
                        "
                      />
                    </div>
                    <div class="col-10">
                      <div class="row">
                        <div class="col-3" style="padding-left: 0%">
                          <label class="form-check-label" for="formotrotext"
                            >Otros:</label
                          >
                        </div>
                        <div class="col-9" style="justify-content: flex-end">
                          <input
                            type="text"
                            id="formotrotext"
                            class="col-form-control"
                            *ngIf="
                              rubricaService.rubrica.value?.tipo !=
                                'Laboratorio' &&
                                rubricaService.rubrica.value?.tipo !=
                                  'Trabajo' &&
                                rubricaService.rubrica.value?.tipo !=
                                  'Proyecto';
                              else defaultotros
                            "
                            placeholder="{{
                              rubricaService.rubrica.value?.tipo
                            }} "
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Competencias -->
            <div class="row mb-2" style="width: 100%">
              <label
                class="form-label"
                for="form3Example2"
                style="display: block; text-align: center"
                >COMPETENCIAS
              </label>
            </div>
          </div>
          <div class="third-rubrica-content">
            <div
              class="row mb-4"
              style="align-items: center; display: inline-flexbox"
            >
              <div class="col-11">
                <div class="row">
                  <div class="col-1 center">
                    <label class="form-label">CD </label>
                  </div>
                  <div class="col center">
                    <label class="form-label">DIMENSION </label>
                  </div>
                  <div class="col center">
                    <label class="form-label">EXCELENTE </label>
                  </div>
                  <div class="col center">
                    <label class="form-label">BUENO </label>
                  </div>
                  <div class="col center">
                    <label class="form-label">EN DESARROLLO </label>
                  </div>
                  <div class="col center">
                    <label class="form-label">NO ACEPTABLE </label>
                  </div>
                  <div class="col-1 center">
                    <label class="form-label">NOTA </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row mb-4"
            style="align-items: center; display: inline-flexbox"
            *ngFor="
              let dim of rubricaService.rubrica.value?.dimensiones;
              let k = index
            "
          >
            <div class="col-11">
              <div class="row mb-2">
                <div class="col-1 center">
                  <button
                    type="button"
                    class="btn btn-light"
                    style="overflow: auto"
                    disabled
                  >
                    {{ rubricaService.rubrica.value?.numCritDesemp }}
                  </button>
                </div>
                <div class="col center">
                  <button
                    type="button"
                    class="btn btn-light"
                    style="overflow: auto; width: 100%"
                    disabled
                  >
                    {{ dim.descripcion }}
                  </button>
                </div>
                <div
                  class="col center parent-dim"
                  *ngFor="let cal of dim.calificaciones; let c = index"
                  (click)="setPuntaje(cal, k, cal.titulo)"
                >
                  <button
                    type="button"
                    class="btn btn-light child-desc"
                    style="overflow: auto; width: 100%; flex: 90%"
                    [disabled]="rubricaUsuario?.id"
                    [ngClass]="{
                      activeBtn: califsDimensiones[k] == cal.id
                    }"
                  >
                    {{ cal.descripcion }}
                  </button>
                  <div class="input-group child-punt">
                    <span class="input-group-text" [id]="'flexcarrera' + c"
                      >Puntaje</span
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="{{ cal.nota }}"
                      disabled
                    />
                  </div>
                </div>

                <div class="col-1 center">
                  <button
                    type="button"
                    class="btn btn-light"
                    style="overflow: auto"
                    disabled
                  >
                    {{
                      califsDimensionesPosic[k]
                        ? califsDimensionesPosic[k].nota
                        : 0
                    }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Resultados y btn guardar-->
      <div class="col-2">
        <div class="row-fluid">
          <h4 class="resultadosty text-center p-2">Resultados</h4>
          <div class="row">
            <div class="col-9 p-1 resultadoschart">
              <form>
                <div class="form-group row">
                  <label class="col-sm-8 col-form-label text-center">
                    Excelente</label
                  >
                  <div class="col-sm-3">
                    <nb-card class="form-control">
                      {{ getResultado(0) }}
                    </nb-card>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="inputBueno"
                    class="col-sm-8 col-form-label text-center"
                  >
                    Bueno</label
                  >
                  <div class="col-sm-3">
                    <nb-card class="form-control">
                      {{ getResultado(1) }}
                    </nb-card>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="inputEnDesarrollo"
                    class="col-sm-8 col-form-label text-center"
                  >
                    En Desarrollo</label
                  >
                  <div class="col-sm-3">
                    <nb-card class="form-control">
                      {{ getResultado(2) }}
                    </nb-card>
                  </div>
                </div>

                <div class="form-group row">
                  <label
                    for="inputNoAceptable"
                    class="col-sm-8 col-form-label text-center"
                  >
                    No Aceptable</label
                  >
                  <div class="col-sm-3">
                    <nb-card class="form-control">
                      {{ getResultado(3) }}
                    </nb-card>
                  </div>
                </div>
              </form>
            </div>

            <div class="col-3 porcentajes">
              <div class="row-fluid porcentajeposi">
                {{ getPorcentaje(0) + "%" }}
              </div>
              <div class="row-fluid porcentajeneg">
                {{ getPorcentaje(1) + "%" }}
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid p-5">
          <button
            type="button"
            class="btn btn-primary calificate-rubrica"
            data-bs-toggle="modal"
            data-bs-target="#modalcalificaterubrica"
          >
            GUARDAR
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Default checkbox -->
<ng-template #defaultotros>
  <input
    type="text"
    id="formotrotext"
    class="col-form-control"
    placeholder="..."
    disabled
  />
</ng-template>
