<div class="container">
  <div class="row">
    <h1>{{ codCurso }}</h1>
  </div>
  <div class="row">
    <div class="row">
      <h3>Evaluaciones</h3>
    </div>

    <div class="col-6">
      <div class="row-fluid">
        <div class="input-group rounded">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Buscar"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="myaccordion" id="accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                SEMANA 1
                <div class="div-fluid">
                  <button class="btn btn-link">+</button>
                </div>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul>
                  <li>Evaluacion 1</li>
                  <li>Evaluacion 2</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="row">
            <h3>Secciones</h3>
            <ul>
              <li>SECCION 1 | HORARIO: MIE 1-3PM</li>
              <li>SECCION 2 | HORARIO: JUE 5-8PM</li>
            </ul>
          </div>

          <div class="row">
            <h3>Estadisticas</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
