<div class="container-fluid main-container">
  <div class="row text-center colorname">
    <div class="col-2 colorcourse">
      <h1>{{ codCurso }}</h1>
    </div>
    <div class="col-10">
      <h1>{{ nombreCurso }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row text-align p-3">
        <div class="col-8">
          <h3>Evaluaciones</h3>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalcreaterubrica"
            (click)="goToRubricaCreation()"
          >
            Crear rubrica
          </button>
        </div>
      </div>

      <div class="row-fluid p-3">
        <div class="input-group rounded">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Buscar"
            aria-label="Search"
            aria-describedby="search-addon"
          />
        </div>
      </div>

      <div class="row-fluid">
        <div class="accordion accordion-flush" id="accordionWeeks">
          <div
            class="accordion-item"
            *ngFor="let semana of semanas; let i = index"
          >
            <h2 class="accordion-header" [id]="'flush-heading-' + i">
              <button
                class="panel accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse-' + i"
                aria-expanded="false"
                [attr.aria-controls]="'#flush-collapse-' + i"
              >
                {{ semana.titulo }}
              </button>
            </h2>
            <div
              [id]="'flush-collapse-' + i"
              class="accordion-collapse collapse"
              [attr.aria-labelledby]="'flush-heading-' + i"
              data-bs-parent="#accordionWeeks"
            >
              <div class="accordion-body">
                <ul
                  *ngFor="
                    let evaluaciones of evaluaciones_semanales;
                    let j = index
                  "
                >
                  <li>
                    <div class="row-fluid">
                      <div class="btn-group dropright">
                        <button
                          [id]="'btnGroupDrop-' + j"
                          type="button"
                          class="btn btn-outline-link dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <b> {{ evaluaciones.titulo }}</b>
                        </button>
                        <ul
                          class="dropdown-menu"
                          [attr.aria-labelledby]="'btnGroupDrop-' + j"
                        >
                          <li>
                            <a
                              class="dropdown-item"
                              href="#"
                              (click)="goToRubricaCreation()"
                              >Modificar</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="#"
                              (click)="goToRubricaCalificar()"
                              >Calificar</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row p-3">
        <h3>Secciones</h3>
        <ul *ngFor="let seccion of secciones; let j = index">
          <li>
            {{ seccion.titulo }} | {{ seccion.horario.dia1 }}
            {{ seccion.horario.hora1 }} {{ seccion.horario.dia2 }}
            {{ seccion.horario.hora2 }}
          </li>
        </ul>
      </div>

      <div class="row-fluid p-3">
        <h3>Estadisticas</h3>
        <div class="row-fluid p-2">
          <div class="input-group rounded">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Buscar"
              aria-label="Search"
              aria-describedby="search-addon"
            />
          </div>
        </div>
        <div
          class="container double"
          *ngFor="let dat of dati; let i = index"
          id="grafico"
        >
          {{ dat.rubrica.titulo }}

          <nb-card-body>
            <chart [type]="type" [data]="data" [options]="options"> </chart>
          </nb-card-body>
          <!--<nb-card-body>
                <chart [type]="type" [data]="data" [options]="options"></chart>
              </nb-card-body>-->
        </div>
      </div>
    </div>
  </div>
</div>
