<div class="main-rubrica-content">
  <form>
    <!-- Boton Save -->
    <div class="row">
      <div class="col-2">
        <img
          class="flechi1"
          src="assets/images/flechi.png"
          style="height: 38px; width: 118px"
        />
      </div>
      <div class="col-10 d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          type="button"
          class="btn btn-primary save-rubrica"
          data-bs-toggle="modal"
          data-bs-target="#modalsaverubrica"
        >
          GUARDAR
        </button>
      </div>
    </div>
    <div class="first-rubrica-content">
      <div class="second-rubrica-content">
        <div class="row mb-2">
          <div class="col-6">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Curso: </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ cursoService.curso.value?.nombre }}"
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Ciclo: </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ rubricaService.rubrica.value?.ciclo }}"
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  >Semestre:
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ rubricaService.rubrica.value?.semestre }} "
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>
        <!-- Actividad, Semana y Fecha input -->
        <div class="row mb-2">
          <div class="col-6">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text">Actividad:</span>
                <textarea
                  type="text"
                  class="form-control"
                  placeholder="{{
                    rubricaService.rubrica.value?.actividadBase
                  }}"
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                  [rows]="rowsActividad"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group vertical-center">
              <span class="input-group-text" id="basic-addon1">Semana: </span>
              <input
                type="text"
                class="form-control"
                placeholder="{{ rubricaService.rubrica.value?.semana }} "
                aria-label="Curso"
                aria-describedby="basic-addon1"
                disabled
              />
            </div>
          </div>
          <div class="col-3">
            <div class="input-group vertical-center">
              <span class="input-group-text" id="basic-addon1">Fecha: </span>
              <input
                type="text"
                class="form-control"
                placeholder="{{ rubricaService.rubrica.value?.fecha }}"
                aria-label="Curso"
                aria-describedby="basic-addon1"
                disabled
              />
            </div>
          </div>
        </div>

        <!-- Competencia input -->

        <div class="row mb-2">
          <div class="form-outline" style="display: inline">
            <div class="input-group">
              <span class="input-group-text">Competencia</span>
              <textarea
                class="form-control"
                aria-label="With textarea"
                value="{{ rubricaService.rubrica.value?.numCritDesemp }}. {{
                  rubricaService.rubrica.value?.criterioDeDesempenho
                }}"
                disabled
                [rows]="rowsCompetencia"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- Alumno y Profesor input -->
        <div class="row mb-2">
          <div class="col">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Alumno: </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="---"
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-outline" style="display: inline">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1"
                  >Profesor:
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{ userService.user.nombre }}"
                  aria-label="Curso"
                  aria-describedby="basic-addon1"
                  disabled
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Checkbox -->
        <div class="row mb-2">
          <div class="col-8">
            <div class="row">
              <div class="col">
                <span class="input-group-text" id="basic-addon1"
                  >Tipo Actividad:
                </span>
              </div>
              <div class="col">
                <div class="form-check form-check-inline vertical-center">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                    disabled
                    [checked]="rubricaService.rubrica.value?.tipo == 'Proyecto'"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Proyecto</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-check form-check-inline vertical-center">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                    disabled
                    [checked]="rubricaService.rubrica.value?.tipo == 'Trabajo'"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Trabajo</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-check form-check-inline vertical-center">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                    disabled
                    [checked]="
                      rubricaService.rubrica.value?.tipo == 'Laboratorio'
                    "
                  />
                  <label class="form-check-label" for="inlineRadio3"
                    >Laboratorio</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-check form-check-inline vertical-center">
              <div class="row">
                <div class="col-1" style="padding-left: 0; padding-right: 0">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="formotrotext"
                    value="option4"
                    disabled
                    style="margin-left: 0"
                    [checked]="
                      rubricaService.rubrica.value?.tipo != 'Laboratorio' &&
                      rubricaService.rubrica.value?.tipo != 'Trabajo' &&
                      rubricaService.rubrica.value?.tipo != 'Proyecto'
                    "
                  />
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col-3" style="padding-left: 0%">
                      <label class="form-check-label" for="formotrotext"
                        >Otros:</label
                      >
                    </div>
                    <div class="col-9" style="justify-content: flex-end">
                      <input
                        type="text"
                        id="formotrotext"
                        class="col-form-control"
                        *ngIf="
                          rubricaService.rubrica.value?.tipo != 'Laboratorio' &&
                            rubricaService.rubrica.value?.tipo != 'Trabajo' &&
                            rubricaService.rubrica.value?.tipo != 'Proyecto';
                          else defaultotros
                        "
                        placeholder="{{ rubricaService.rubrica.value?.tipo }}"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2" style="width: 100%">
          <label
            class="form-label"
            for="form3Example2"
            style="display: block; text-align: center"
          >
            COMPETENCIAS
          </label>
        </div>
      </div>

      <div class="third-rubrica-content">
        <div
          class="row mb-4"
          style="align-items: center; display: inline-flexbox"
        >
          <div class="col-11">
            <div class="row">
              <div class="col-1 center">
                <label class="form-label">CD </label>
              </div>
              <div class="col center">
                <label class="form-label">DIMENSION </label>
              </div>
              <div class="col center">
                <label class="form-label">EXCELENTE </label>
              </div>
              <div class="col center">
                <label class="form-label">BUENO </label>
              </div>
              <div class="col center">
                <label class="form-label">EN DESARROLLO </label>
              </div>
              <div class="col center">
                <label class="form-label">NO ACEPTABLE </label>
              </div>
              <div class="col-1 center">
                <label class="form-label">NOTA </label>
              </div>
            </div>
          </div>
          <div class="col-1">
            <button
              class="btn btn-primary center p-2"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modal-create-dimension"
            >
              <nb-icon icon="plus-outline" class="icon3"> </nb-icon>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="rubricaService.existdimensions">
        <div
          class="row mb-4"
          style="align-items: center; display: inline-flexbox"
          *ngFor="
            let dim of rubricaService.rubrica.value?.dimensiones;
            let k = index
          "
        >
          <div class="col-12">
            <div class="row mb-2">
              <div class="col-1 center">
                <button
                  type="button"
                  class="btn btn-light"
                  style="overflow: auto"
                  disabled
                >
                  {{ rubricaService.rubrica.value?.numCritDesemp }}
                </button>
              </div>
              <div class="col center">
                <button
                  type="button"
                  class="btn btn-light"
                  style="overflow: auto; width: 100%"
                  disabled
                >
                  {{ dim.descripcion }}
                </button>
              </div>
              <div
                class="col center parent-dim"
                *ngFor="let cal of dim.calificaciones; let c = index"
              >
                <button
                  type="button"
                  class="btn btn-light child-desc"
                  style="overflow: auto; width: 100%; flex: 90%"
                  disabled
                >
                  {{ cal.descripcion }}
                </button>
                <div class="input-group child-punt">
                  <span class="input-group-text" [id]="'flexcarrera' + c"
                    >Puntaje</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="{{ cal.nota }}"
                    #newnota
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary col-3 button-icon"
                    (click)="submitPuntaje(newnota.value, cal.titulo, dim.id)"
                  >
                    <nb-icon icon="save-outline" class="icon"> </nb-icon>
                  </button>
                </div>
              </div>
              <div class="col-1 center">
                <button
                  type="button"
                  class="btn btn-light"
                  style="overflow: auto"
                  disabled
                > - </button>
              </div>
              <div class="col-1">
                <button
                  class="btn btn-primary button-icon2 center p-2"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-change-dimension"
                  (click)="update(k, dim.id)"
                >
                  <nb-icon icon="edit-outline" class="icon2"> </nb-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- Default checkbox -->
<ng-template #defaultotros>
  <input
    type="text"
    id="formotrotext"
    class="col-form-control"
    placeholder="..."
    disabled
  />
</ng-template>

<!--  -->
<div
  class="modal fade"
  id="modalsaverubrica"
  tabindex="-1"
  aria-labelledby="save"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="save">Guardar Rubrica</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Presione Guardar para mandarlo a verificar (No podra modificar la
        rubrica)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="verificate()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal-change-dimension"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="change-dimension"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="change-dimension">
          Dimensiones y Calificadores
        </h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Dimension Nueva</label>
            <div class="row">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripcion de dimension"
                  [(ngModel)]="newDimension.description"
                  name = "modify-description"
                />
              </div>
              <button type="button" class="btn btn-primary col-2">
                Guardar Cambios
                (click)="changeDescription()"
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Excelente</label>
            <div class="row">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripcion de excelente"
                  [(ngModel)]="newDimension.excellent"
                  name = "modify-excellent"
                />
              </div>
              <button type="button" class="btn btn-primary col-2" 
              (click)="changeCalificacion(newDimension.excellent, 'Excelente')">
                Guardar Cambios
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Bueno</label>
            <div class="row">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripcion de bueno"
                  [(ngModel)]="newDimension.good"
                  name = "modify-good"
                />
              </div>
              <button type="button" class="btn btn-primary col-2"
              (click)="changeCalificacion(newDimension.good, 'Bueno')">
                Guardar Cambios
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">En desarrollo</label>
            <div class="row">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripcion de en desarrollo"
                  [(ngModel)]="newDimension.inProcess"
                  name = "modify-inprocess"
                />
              </div>
              <button type="button" class="btn btn-primary col-2" 
              (click)="changeCalificacion(newDimension.inProcess, 'En desarrollo')">
                Guardar Cambios
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">No aceptable</label>
            <div class="row">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripcion de no aceptable"
                  [(ngModel)]="newDimension.notAceptable"
                  name = "modify-notaceptable"
                />
              </div>
              <button type="button" class="btn btn-primary col-2"
              (click)="changeCalificacion(newDimension.notAceptable, 'No aceptable')">
                Guardar Cambios
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
        (click)="emptynewDImension()"
        data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Dimension -->
<div
  class="modal fade"
  id="modal-create-dimension"
  tabindex="-1"
  
  aria-labelledby="new-dimension"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-dimension">
          Dimensiones y Calificadores
        </h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Dimension Nueva</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripcion de dimension"
              [(ngModel)]="newDimension.description"
              name = "create-description"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Excelente</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripcion de excelente"
              [(ngModel)]="newDimension.excellent"
              name = "create-excellent"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Bueno</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripcion de bueno"
              [(ngModel)]="newDimension.good"
              name = "create-good"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">En desarrollo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripcion de en desarrollo"
              [(ngModel)]="newDimension.inProcess"
              name = "create-inprocess"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">No aceptable</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripcion de no aceptable"
              [(ngModel)]="newDimension.notAceptable"
              name = "create-notaceptable"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="saveDimension()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
