.main-container{
  height: 100%;
  width: 100%;
  margin: 0%;
  padding:0%;
}

.rubrica-content{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  padding-bottom: 5%;
}

.main-sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #82e1ff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.rubrica-second-content{
  margin-right: 7%;
}

.criterios-content{
  padding-right: 7%;
}

.dashboard {
  background-color: white;
}


div.content {
  margin-left: 220px;
  position: relative;
}

body{
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.main-form{
  height: 50%;

  justify-content: center;
}

