<div class="main-container">
    <div class="main-sidebar">
      <div class="text-center">
        <img
        src="assets/images/LOGO-UTEC-WHITE.png"
        alt=""
        height="100"
        width="150"
        class="img-fluid m-3"
        />
      </div>
    </div>
    <div class="content justify-content-md-center">
      <div class="row">

      </div>
      <div clasS="rubrica-content"> 
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline" style="display: inline;">
                <div class="form-group">
                  <label class="form-label" for="form3Example1">Curso:</label>
                  <input type="text" id="form3Example1" class="col-form-control"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Ciclo: </label>
                <input type="text" id="form3Example2" class="col-form-control"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Semestre: </label>
                <input type="text" id="form3Example3" class="col-form-control"/>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline" style="display: inline;">
                <div class="form-group">
                  <label class="form-label" for="form3Example1">Curso:</label>
                  <input type="text" id="form3Example1" class="col-form-control"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Ciclo: </label>
                <input type="text" id="form3Example2" class="col-form-control"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Semestre: </label>
                <input type="text" id="form3Example3" class="col-form-control"/>
              </div>
            </div>
          </div>
        
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Competencia</label>
            <input type="email" id="form3Example3" class="col-form-control" style="width: 100%; max-width: 80%;" />
          </div>
        
          <!-- Password input -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline" style="display: inline;">
                <div class="form-group">
                  <label class="form-label" for="form3Example1">Alumno:</label>
                  <input type="text" id="form3Example1" class="col-form-control"/>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2">Profesor: </label>
                <input type="text" id="form3Example2" class="col-form-control"/>
              </div>
            </div>
          </div>
        
          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="form2Example33"
              checked
            />
            <label class="form-check-label" for="form2Example33">
              Subscribe to our newsletter
            </label>
          </div>
        
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        
          <!-- Register buttons -->
          <div class="text-center">
            <p>or sign up with:</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
        
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>


      </div>               
    </div>
</div>

