<div class="main-container">
    <div class="main-sidebar">
      <div class="text-center">
        <img
        src="assets/images/LOGO-UTEC-WHITE.png"
        alt=""
        height="100"
        width="150"
        class="img-fluid m-3"
        />
      </div>
    </div>
    <div class="content justify-content-md-center">
      <div class="row">

      </div>
      <div clasS="rubrica-content"> 
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="rubrica-second-content">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline" style="display: inline;">
                  <div class="form-group">
                    <label class="form-label" for="form3Example1">Curso:</label>
                    <input type="text" id="form3Example1" class="col-form-control" disabled/>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Ciclo: </label>
                  <input type="text" id="form3Example2" class="col-form-control" disabled/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Semestre: </label>
                  <input type="text" id="form3Example3" class="col-form-control" disabled/>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline" style="display: inline;">
                  <div class="form-group">
                    <label class="form-label" for="form3Example1">Curso:</label>
                    <input type="text" id="form3Example1" class="col-form-control" disabled/>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Ciclo: </label>
                  <input type="text" id="form3Example2" class="col-form-control" disabled/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Semestre: </label>
                  <input type="text" id="form3Example3" class="col-form-control" disabled/>
                </div>
              </div>
            </div>
          
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Competencia</label>
              <input type="email" id="form3Example3" class="col-form-control" style="width: 100%; max-width: 80%;" disabled/>
            </div>
          
            <!-- Password input -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline" style="display: inline;">
                  <div class="form-group">
                    <label class="form-label" for="form3Example1">Alumno:</label>
                    <select class="col-form-select" aria-label="Default select example" disabled>
                      <option selected >--------------</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Profesor: </label>
                  <input type="text" id="form3Example2" class="col-form-control" disabled/>
                </div>
              </div>
            </div>
          
            <!-- Checkbox -->
            <div class="row mb-4">
              <div clasS="col">
                <label class="form-label" for="form3Example2">Tipo de actividad: </label>
              </div>
              <div clasS="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
              </div>
              <div clasS="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
              </div>
              <div clasS="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                  <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                </div>
              </div>
              <div clasS="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                  <label class="form-check-label" for="inlineRadio1">1</label>
                  <input type="email" id="form3Example3" class="col-form-control" style="width: 100%; max-width: 80%;" disabled/>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%">
              <label class="form-label" for="form3Example2" style="display:block; text-align:center;">Competencias </label>
            </div>
          </div>
            <div class="row"  style="align-items: center; display: inline-flexbox;">
              <div class="col-11">
                <div class="row mb-6">
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">CD </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">DIMENSIONES </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">EXCELENTE </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">BUENO </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">EN DESARROLLO </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">NO ACEPTABLE </label>
                  </div>
                  <div clasS="col">
                    <label class="form-label" for="form3Example2">NOTA </label>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <button class="btn btn-primary" style="width: auto;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Button</button>
              </div>
            </div>
        </form>
      </div>               
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
