.main-rubrica-content{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
    height: 100%;
  }
  
  .first-rubrica-content{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 5%;
  }
  
  .second-rubrica-content{
    margin-right: 7%;
  }
  
  .criterios-rubrica-content{
    padding-right: 7%;
  }
  
  .main-form{
    height: 50%;
    justify-content: center;
  }
  
  .save-rubrica{
    padding-left: 2%; 
    padding-right: 2%;
  }
  html{
    height: 100%;
  }