<div class="main-container">
    <p class="titulo"><img class="flechi1" src="assets/images/flechi.png"/> Resultados</p>
    <div class="row">
        <div class="col-md-3">
            <div class="filtros">
                <h3>Filtros</h3>
                <div class="listFiltros" *ngFor="let filtro of filtros">
                    <p class="tiposFiltro">{{filtro.titulo}}</p>
                    <div class="listOpciones">
                        <div class="form-check" *ngFor="let opcion of filtro.lista">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">{{opcion}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <app-grafica-calidad></app-grafica-calidad>
        </div>
    </div>
</div>