.main-container{
  overflow-x: hidden;
  padding-top: 10px;
}

.flechi1{
    width: 8%;
    height: auto;
    display: block;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
  }

.titulo{
  margin: 0%;
  padding-top: 5px;
  font-size: xx-large
}

.filtros{
  margin-left: 4%;
  margin-top: 1%;
}

.tiposFiltro{
  margin: 0%;
  margin-left: 3%;
  font-size:x-large
}

.listOpciones{
  margin-left: 5%;
}

.logros{
  background-color: rgba(182, 182, 182, 0.363);
}