<div class="container-fluid h-100">
  <div class="row main_container">
    <div class="col-2 sidebar text-center">
      <div class="row-fluid m-1">
        <img
          src="assets/images/LOGO-UTEC-WHITE.png"
          alt=""
          height="300"
          width="350"
          class="img-fluid"
        />
      </div>
      <div class="row-fluid m-1">
        <img
          src="assets/images/sidebar_gdc.png"
          alt=""
          height="100"
          width="250"
          class="img-fluid"
        />
      </div>
      <div class="row p-2 text-center">
        <img
          src="assets/images/user_icon.png"
          width="100"
          class="rounded-circle"
        />
        <h5 class="mt-2 mb-0">Alexender Schidmt</h5>
      </div>
      <div class="row-fluid m-1">
        <div
          class="btn-group p-2"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            id="btnGroupDrop1"
            type="button"
            class="btn btn-outline-light dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Semestres
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">2021-2</a></li>
            <li><a class="dropdown-item" href="#">holi</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="offset-2 col-10 dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
