<div class="container-fluid h-100">
  <div class="row main_container">
    <div class="col-2 sidebar text-center">
      <div class="logoside">
        <img src="assets/images/LOGO-UTEC-WHITE.png" alt="" class="img-fluid" />

        <img src="assets/images/sidebar_gdc.png" alt="" class="img-fluid" />
      </div>

      <div class="profile">
        <img
          src="assets/images/user_icon.png"
          alt="user"
          class="img-fluid rounded-circle"
        />
        <h3>Alexender Schidmt</h3>
      </div>

      <div class="row-fluid">
        <div
          class="btn-group p-2"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            id="btnGroupDrop1"
            type="button"
            class="btn btn-outline-light dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <b>S E M E S T R E S</b>
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">2021-2</a></li>
            <li><a class="dropdown-item" href="#">2021-1</a></li>
          </ul>
        </div>
      </div>
      <div class="row-fluid">
        <button type="button" class="btn btn-outline-secondary down">
          Cerrar Sesion
        </button>
      </div>
    </div>

    <div class="offset-2 col-10 dashboard">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
