@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:

  color-primary-100: #00bfff,
  color-primary-200: #231F20,
  color-primary-300: #ffffff,

  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,

  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

), oscuro, corporate);

// $nb-themes: nb-register-theme((
// ), corporate, corporate);
