<div class="container">
  <div class="col-8 img-centro-vertical">
    <img
      src="assets/images/LOGO-UTEC-COLOR.png"
      alt=""
      height="700"
      width="850"
      class="img-fluid m-3 p-5"
    />
  </div>
  <div class="col-4 img-centro-vertical">
    <div class="row">
      <img
        src="assets/images/logo_gdc.png"
        alt=""
        height="100"
        width="150"
        class="img-fluid m-3 p-3"
      />
    </div>
    <div class="row">
      <button type="button" class="btn btn-light" (click)="login()">
        Sign in with Google
      </button>
    </div>
  </div>
</div>