.screen {
  height: 100vh;
}

.maxh {
  height: 100vh;
}

.img-centro-vertical {
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
}

nb-layout-column {
  background-color: white;
  padding: 0 !important;
}