<div
  class="container-fluid main-container"
  *ngIf="cursosService.curso.value != null"
>
  <div class="row text-center colorname">
    <div class="col-2 colorcourse">
      <h1>{{ cursosService.curso.value.codigo }}</h1>
    </div>
    <div class="col-10">
      <h1>{{ cursosService.curso.value.nombre }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row text-align p-3">
        <div class="col-8">
          <h3>Evaluaciones</h3>
        </div>
        <!--<div class="col-4">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalcreaterubrica">
            Crear rubrica
          </button>
        </div>-->
      </div>

      <!--<div class="row-fluid p-3">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
            aria-describedby="search-addon" />
        </div>
      </div>-->

      <div class="row-fluid">
        <div class="accordion accordion-flush" id="accordionWeeks">
          <div
            class="accordion-item"
            *ngFor="
              let rubrica of cursosService.curso.value.rubricas;
              let i = index
            "
          >
            <h2 class="accordion-header" [id]="'flush-heading-' + i">
              <button
                class="panel accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse-' + i"
                aria-expanded="false"
                [attr.aria-controls]="'#flush-collapse-' + i"
              >
                Rubrica {{ i + 1 }}
              </button>
            </h2>
            <div
              [id]="'flush-collapse-' + i"
              class="accordion-collapse collapse"
              [attr.aria-labelledby]="'flush-heading-' + i"
              data-bs-parent="#accordionWeeks"
            >
              <div class="accordion-body">
                <ul>
                  <li>
                    <div class="row-fluid">
                      <div class="row btn-group dropright">
                        <p class="col-9">{{ rubrica.criterioDeDesempenho }}</p>
                        <ul class="list-group col-3">
                          <button
                            [id]="'btnGroupDrop-1'"
                            type="button"
                            class="btn btn-outline-link"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            (click)="goToRubricaCreation(rubrica.id)"
                            [disabled]="rubrica.status != null"
                          >
                            <b> Modificar</b>
                          </button>
                          <button
                            [id]="'btnGroupDrop-2'"
                            type="button"
                            class="btn btn-outline-link"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            style="margin-top: 1%"
                            (click)="goToRubricaCalificar(rubrica.id)"
                            [disabled]="rubrica.status != true"
                          >
                            <b> Calificar</b>
                          </button>
                        </ul>
                        <!--<ul class="dropdown-menu"
                          [attr.aria-labelledby]="'btnGroupDrop-0'"
                        >
                          <li>
                            <a class="dropdown-item"
                            (click)="goToRubricaCreation(rubrica)">Modificar</a>
                          </li>
                          <li>
                            <a class="dropdown-item"
                            (click)="goToRubricaCalificar(rubrica)">Calificar</a>
                          </li>
                        </ul>-->
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row p-3">
        <h3>Secciones</h3>
        <ul
          *ngFor="
            let seccion of cursosService.curso.value.secciones;
            let j = index
          "
        >
          <li>
            <input
              class="btn btn-primary"
              type="button"
              value="{{ seccion.codigo }}"
              (click)="loadgraphic(seccion.id)"
            />
          </li>
        </ul>
      </div>

      <div class="row-fluid p-3">
        <h3>Estadisticas</h3>
        <div class="row-fluid p-2">
          <div class="input-group rounded">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Buscar"
              aria-label="Search"
              aria-describedby="search-addon"
            />
          </div>
        </div>
        <div class="container double" id="grafico" *ngIf="graphLoad">
          <nb-card-body>
            <chart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </chart>
          </nb-card-body>
        </div>
      </div>
    </div>
  </div>
</div>
