.main-container {
  margin: 0;
  padding: 2%;
}

.dropright {
  position: relative;
}

.dropright .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.accordion-item {
  background: #f3f4f4;
}
.btn-primary {
  color: #fff;
  background-color: #00bfff;
  border-color: #00bfff;
  margin: 0;
  border-radius: 8px;
  padding: 8px 40px;
}
.ul {
  color: #f3f4f4;
  list-style: none;
  padding: 3;
  margin: 0;
}

.colorcourse {
  background-color: #00bfff;
  color: #fff;
  border-radius: 4px;
}
.colorname {
  background: #f2f2f2;
}
